@model FullQuestionnarieDTO
@{
    ViewData["Title"] = "Ankieta";
    string name = Model == null ? null : Model.Name;
    int questionNumber = Model.Questions.Count;
}
<div id="questionnarieContent">
    @if (Model != null)
    {
        <div class="center"><h2>@name</h2></div>         
        @if (Model.Questions != null && Model.Questions.Count > 0)
        {
            <input type="hidden" id="questionnarieCode" value="@Model.Code" />
            <input type="hidden" id="questionCount" value="@questionNumber" />
            <input type="hidden" id="questions" value="" />
            <script>
                let questions = document.querySelector('#questions')
            </script>
            <div class="contentRow">
                @foreach (var question in Model.Questions.OrderBy(a => a.QuestionNumber))
                {
                    questionNumber = question.QuestionNumber;
                    <script>

                    questions.value += '@questionNumber;'
                    </script>
                    <div id="question_@questionNumber" class="section">
                        <div class="section_header"><span id="required_@questionNumber">#@(questionNumber) @question.Question</span></div>
                        <div class="section_content">

                            @if (question.AnswerType.ToLower() == "jednokrotny")
                            {
                                <div class="center">
                                    @foreach (var answer in question.AnswersDTOs)
                                    {
                                        <div class="section">
                                            <lable>@answer.Answer</lable>
                                            <input onclick="updateAnswer(@questionNumber, '@question.AnswerType', '@answer.Answer', null)" type="radio" name="decision" value="@answer.Answer" />
                                        </div>
                                    }
                                </div>
                            }
                            else if (question.AnswerType.ToLower() == "wielokrotny")
                            {
                                <div class="center">
                                    @foreach (var answer in question.AnswersDTOs)
                                    {
                                        <div class="section">
                                            <lable>@answer.Answer</lable>
                                            <input type="checkbox" onchange="updateAnswer(@questionNumber, '@question.AnswerType', '@answer.Answer', this)" value="@answer.Answer" />
                                        </div>
                                    }
                                </div>
                            }
                            else if (question.AnswerType.ToLower() == "numeryczny")
                            {
                                <div class="center">
                                    @foreach (var answer in question.AnswersDTOs)
                                    {
                                        <div>
                                            <input id="numericAnswer_@questionNumber" oninput="updateSimlpeAnswer(@questionNumber, '#numericAnswer_@questionNumber')" class="input_number" type="number" />
                                        </div>
                                    }
                                </div>
                            }
                            else if (question.AnswerType.ToLower() == "opisowy")
                            {
                                
                                    @foreach (var answer in question.AnswersDTOs)
                                    {
                                  
                                        <textarea id="descriptionAnswer_@questionNumber" oninput="updateSimlpeAnswer(@questionNumber, '#descriptionAnswer_@questionNumber')" rows="4" class="input_txt textarea"> </textarea>
                                   
                                    }
                               
                            }

                            @if (question.AddWhy == true)
                            {
                                <div class="label_def">@question.AddWhyName:</div>
                                <textarea oninput="updateAddWhyBody(@questionNumber)" id="addWhyBody_@questionNumber" rows="4" class="input_txt textarea"></textarea>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="contentRow">
                <button id="sendBtn" type="button" onclick="sendQuestionnarie()" class="button_def right">Wyślij</button>
            </div>

        }
    }
    else
    {
        <div class="center"><h5>Brak danych do wyświetlenia</h5></div>
    } 
</div>