@model IEnumerable<UserQuestionnariesDTO>

@foreach (var questionnarie in Model)
{
<tr>
    <td>
        <a id="rowToggle_@questionnarie.Id" href="#" class="fa fa-2x fa-angle-down text_def" onclick="toggleRow('#row_questions_@questionnarie.Id','#rowToggle_@questionnarie.Id')"></a>
    </td>
    <td>@questionnarie.Name</td>
    <td>@questionnarie.Description</td>
    <td>@questionnarie.Code</td>
    <td>@questionnarie.Date</td>
    <td>
        <p class="displayHref" dis>
            <a asp-controller="UserQuestionnaries"
               asp-action="_QuestionnariesToPrint"
               asp-route-id="@questionnarie.Id"
               asp-protocol="https">Do wydruku</a>
        </p>
    </td>
</tr>
    <tr id="row_questions_@questionnarie.Id" class="hidden">
        <td colspan="6">
            <partial name="_QuestionnariesToPrint" model="questionnarie" />             
        </td>
    </tr>
}
