@model SatisfactionInfo.Models.DAL.SQL.QuestionnariesQuestion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionnariesQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Question)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Questionnarie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questionnarie.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
